@font-face {
	font-family: 'BeastieRegular';
	src: url(../../assets/fonts/BeastieRegular.woff2) format('woff2'),
	url(../../assets/fonts/BeastieRegular.woff) format('woff'),
	url(../../assets/fonts/BeastieRegular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}